<h1> <font color=#00539CFF> Header: Loading tha XML data and importing them in pandas data frame </font></h1>

In [1]:
from tqdm import tqdm
import math
import numpy as np
import pandas as pd
pd.set_option('max_rows',1000)

Rank = pd.read_excel(open('EstonianData.xlsx', 'rb'), sheet_name='Rank')






from xml.etree import ElementTree
tree = ElementTree.parse("RK2019.xml")
root = tree.getroot()


pd_DistrictName = []
pd_DistrictNumber = []
pd_DistrictQuota = []
pd_DistrictMandates = []
pd_forename = []
pd_surname = [] 
pd_candidateRegNumber = [] 
pd_candidateID = []
pd_partyName = [] 
pd_partyCode = []
pd_K_list = []
pd_P_list = []
pd_E_list = []
pd_J1P_list = []
pd_J1E_list = []
pd_J2P_list = []
pd_J2E_list = []
pd_J3P_list = [] 
pd_J3E_list = []
vote_vector = [] 
pd_adminUnit = []
pd_ehak_Code = [] 
pd_TotalVote = []



for district in list(list(list(root)[3])[0])[4]:   
    for party in list(district)[5]:
        for candidate in list(party)[2]:
            pd_DistrictName.append(list(district)[0].text)
            pd_DistrictNumber.append(int(list(district)[1].text))
            pd_DistrictQuota.append(float(list(district)[2].text))
            pd_DistrictMandates.append(list(district)[3].text)
            pd_partyName.append(list(party)[0].text)
            pd_partyCode.append(list(party)[1].text)
            pd_forename.append(list(candidate)[0].text)
            pd_surname.append(list(candidate)[1].text)
            pd_candidateRegNumber.append(int(list(candidate)[2].text))
            pd_candidateID.append(list(candidate)[3].text)
            for vote in list(candidate)[4]:
                vote_vector.append(list(vote)[1].text)
            #print(int(vote_vector[0]))
            pd_TotalVote.append(float(vote_vector[0]))
            vote_vector = []


raw_material = pd.DataFrame({'First Name':pd_forename,'Last Name':pd_surname,'RegNum':pd_candidateRegNumber,'Candidate ID':pd_candidateID,
                      'Total Votes':pd_TotalVote,'District Number':pd_DistrictNumber,'Quota':pd_DistrictQuota,'Mandates':pd_DistrictMandates,'Party Name':pd_partyName,
                      'Party Abbr.':pd_partyCode})  

raw_material['Candidates'] = raw_material['First Name'] +' '+ raw_material['Last Name']



def PartyNum(party):
    switcher={
        'EVA':1,
        'REF':2,
        'ROH':3,
        'SDE':4,
        'ERE':5,
        'EKRE' : 6,
        'EE200':7 ,
        'KESK' : 8,
        'EÜVP': 9 ,
        'IE' : 10,
        'Üksik.':11        
    }
    return switcher.get(party,"Invalid day of week")


raw_material['Party Number'] = list(map(PartyNum, raw_material['Party Abbr.']))


personalManadateElected = [263,936, 238,993,961,790,253,924,711,304,226,322,752]

districtElected = [ 1040, 701,513,313,686,342,227,1097,780,254,994,712,332,761,951,280,736,264,728,1138,545,324,288,1030,956,488,770,239,675,1156,333,1150,1020,1087,1002,228,554,265,343,986,937,269,1176,1123,241,927,1012,314,978,935,1060,476,295,
266,572,582,1166,1001,326,713,1073,781,938,942,305,945,968,791]

compensElected = [585,714,240,281,771,979,477,255,1003,1072,744,256,335,929,764,344,538,1031,1147,284]

<h1> <font color=#00539CFF> Cleaning data frame and removing unrequired details for ascertaining the result of election</font> </h1>

In [2]:
process = raw_material.copy()
clean = process[['Candidates','RegNum','Party Number','District Number','Mandates','Total Votes','Quota']]
clean

,Candidates,RegNum,Party Number,District Number,Mandates,Total Votes,Quota
0,ANDRES HERKEL,101,1,1,10,222.0,5619.10
1,ÕIE-MARI AASMÄE,102,1,1,10,43.0,5619.10
2,JÜRI PINO,106,1,1,10,36.0,5619.10
3,JAAK PROZES,103,1,1,10,35.0,5619.10
4,AGE MINKA,112,1,1,10,27.0,5619.10
...,...,...,...,...,...,...,...
1094,SIIM SUURSILD,1179,10,12,7,301.0,5887.86
1095,URMAS AAVA,1183,10,12,7,284.0,5887.86
1096,MEELIS KUKK,1180,10,12,7,279.0,5887.86
1097,JAANUS PÕLDMAA,1182,10,12,7,278.0,5887.86
1098,AARE ARVA,1184,10,12,7,144.0,5887.86

In [3]:
clean

,Candidates,RegNum,Party Number,District Number,Mandates,Total Votes,Quota
0,ANDRES HERKEL,101,1,1,10,222.0,5619.10
1,ÕIE-MARI AASMÄE,102,1,1,10,43.0,5619.10
2,JÜRI PINO,106,1,1,10,36.0,5619.10
3,JAAK PROZES,103,1,1,10,35.0,5619.10
4,AGE MINKA,112,1,1,10,27.0,5619.10
...,...,...,...,...,...,...,...
1094,SIIM SUURSILD,1179,10,12,7,301.0,5887.86
1095,URMAS AAVA,1183,10,12,7,284.0,5887.86
1096,MEELIS KUKK,1180,10,12,7,279.0,5887.86
1097,JAANUS PÕLDMAA,1182,10,12,7,278.0,5887.86
1098,AARE ARVA,1184,10,12,7,144.0,5887.86

<font color=#DC143C ><h1> Estonian Tally Function </h1> </font>

<ul>
    <li><font color=#148F77><h2>Personal Mandates</h2></font></li>
    <ul>
        <li>  <b>Formula </b> number of voters/number of mandates = simple quota <br> </li>
        <li>
            <b>Who shall be elected? </b> The candidate who receives more votes than the simple quota of the district or equally to it (regardless whether he or she is an independent or a party candidate) shall be elected. There are no additional requirements. 
        </li>        
    </ul>
    <li><font color=#148F77><h2>District Mandates</h2></font></li>
    <ul>
        <li>  <b>Formula </b> Number of votes for a party/district quota=number of mandates for a party in the district <br> </li>
        <li>
            <b>Who shall be elected? </b> In the district list of the party, the candidates are ranked according to the votes received. The candidate who received the greatest number of votes shall be elected, but the number of votes must be at least 10% of the simple quota.
        </li>        
    </ul>
    <li><font color=#148F77><h2>Compensation Mandates</h2></font></li>
    <ul>
        <li>
            <b>Who shall be elected? </b> The compensation mandates are distributed according to the party’s national list of candidates. The compensation mandate shall be given to the candidate who is further up the list and who has received the number of votes totalling at least 5 % of the simple quota of the district. While distributing the mandates, the candidates who have already received a personal or a district mandate shall be passed.
        </li>        
    </ul>
</ul>

In [4]:
Candidates=np.array(clean['Candidates'].values.tolist())
RegNumbers=np.array(clean['RegNum'].values.tolist())
District=np.array(clean['District Number'].values.tolist())
Votes=np.array(clean['Total Votes'].values.tolist())
Mandate=np.array(clean['Mandates'].values.tolist())
PartyCode=np.array(clean['Party Number'].values.tolist())


def truncate(number, decimals=4):
    if not isinstance(decimals, int):
        raise TypeError("decimal places must be an integer.")
    elif decimals < 0:
        raise ValueError("decimal places has to be 0 or more.")
    elif decimals == 0:
        return math.trunc(number)

    factor = 10.0 ** decimals
    return math.trunc(number * factor) / factor

ElectoralThreshold=0.05*sum(Votes)


def District_Personal_Mandate_Distributation_by_Party(district):
    district_by_party_vector=[0]*12
    for i in range(len(Candidates)):
        distQuota = clean.loc[i]['Quota']
        if (Votes[i]>= distQuota and District[i]==district):
            district_by_party_vector[PartyCode[i]]=district_by_party_vector[PartyCode[i]]+1
    return district_by_party_vector


def Elligible_Parties():
    Elligibles=[]
    for i in range(11):
        vote = clean[clean['Party Number']== i]['Total Votes'].sum()
        if vote >=ElectoralThreshold:
            Elligibles.append(i)
    return Elligibles

<h1> <font color=#00539CFF>Here is the index of candidates choosen in personal mandates and comparing it with official results </font> </h1>

In [5]:
personal = list(clean[clean['Total Votes'] >= clean['Quota']].index)
set(list(clean.iloc[personal]['RegNum'].values)) == set(personalManadateElected)

True

<h1> <font color=#00539CFF>Margins related to personal mandates </font> </h1>

In [6]:
clean['Required'] =  clean['Quota'] - clean ['Total Votes']
clean['Required'] = clean['Required'].apply(math.ceil)
clean[['RegNum','Required']].sort_values(by='Required').head(40)

/Users/ehsan.estaji/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/ehsan.estaji/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      RegNum  Required
345      263    -14023
206      936    -11768
443      961     -3653
122      238     -3351
1062     790     -3282
251      253     -2348
669      993     -2336
80       924     -1683
409      711     -1341
12       226      -727
697      304      -719
855      322      -515
729      752      -262
1080    1040       147
285      701       269
379      513       545
176      686       569
776      313       581
1028     342       686
13       227       857
670      994      1206
461     1097      1243
977      780      1585
640      545      1747
938      332      1792
410      712      1897
252      254      1905
489      280      1989
584      736      2052
519      728      2131
808      761      2133
757     1138      2212
305      951      2311
346      264      2394
560      288      2540
856      324      2551
997     1030      2563
152      488      2702
490      281      2716
622      295      2749

<h1> <font color=#00539CFF>  Margins for chooasing elligible parties </font> </h1>

In [7]:
ElligMargin = clean[['Party Number','Total Votes']].groupby('Party Number').sum()
ElligMargin['Required']= [ElectoralThreshold]*11 - ElligMargin['Total Votes']
ElligMargin.sort_values(by='Required')

              Total Votes   Required
Party Number
2                162363.0 -134305.95
8                129618.0 -101560.95
6                 99671.0  -71613.95
10                64219.0  -36161.95
4                 55175.0  -27117.95
7                 24448.0    3609.05
3                 10227.0   17830.05
5                  6858.0   21199.05
1                  6461.0   21596.05
11                 1590.0   26467.05
9                   511.0   27546.05

<h1> <font color=#00539CFF>Here is the index of candidates choosen in district mandates and comparing it with official results </font> </h1>

In [8]:
def District_Mandate_Party(i):
    vote = clean[clean['Party Number']== i]['Total Votes'].sum()
    if (i in Elligible_Parties()):
        print('This party has ', vote/ElectoralThreshold, 'mandates')
    else:
        print("This party is not elligible for regional mandates")
        

        
def Party_Per_District(party,district):
    sum=0
    for k in range(len(Candidates)):
        if PartyCode[k]== party and District[k]==district:
            sum = sum + Votes[k]
    return sum



def District_Seat_Counter(party, district):
    distQuota = clean[clean['District Number'] == district]['Quota'].unique()[0]
    Seat_Numer=0
    if (party in Elligible_Parties()):
        Seat_Numer=math.floor(Party_Per_District(party, district) / distQuota )
        if (Party_Per_District(party, district) % distQuota >=  0.75 * distQuota ):
            Seat_Numer+=1
    else:
        Seat_Numer=0
    return  Seat_Numer



def District_Mandate_Vector(district):
    district_mandate=[0]*12
    for party in range(1,12):
        district_mandate[party]=District_Seat_Counter(party,district)-District_Personal_Mandate_Distributation_by_Party(district)[party]
    return district_mandate



def Allocating_District_Mandate( party , district) :
    distQuota = clean[clean['District Number'] == district]['Quota'].unique()[0]
    new = clean[(clean['Party Number'] == party) & (clean['District Number'] == district)]
    final_index=list(set(new.index).difference(set(personal)))
    df = clean.loc[final_index].sort_values(by=['Total Votes']).tail(District_Mandate_Vector(district)[party])
    dff = df[df['Total Votes'] >= 0.1 * distQuota]
    return (list(dff.index))



def District_Mandates_List():
    mandates_list=[]
    for party in tqdm(Elligible_Parties()):
        for district in (range(1,13)):
            mandates_list = mandates_list + Allocating_District_Mandate(party,district)
    return(mandates_list)


#####################################
distMandList = District_Mandates_List()
#####################################

set(list(clean.iloc[distMandList]['RegNum'].values)) == set(districtElected)

100%|██████████| 5/5 [02:10<00:00, 26.06s/it]

True

In [34]:
def Party_Per_District_pd(district):
    df = clean[clean['District Number']==district][['Party Number','Total Votes']].groupby('Party Number').sum()
    df['Quota']= [clean[clean['District Number']==district]['Quota'].values[0]]*df.index.size
    df['Seats']= (df['Total Votes'] / df['Quota'])
    df['0.75-Quota'] = 0.75 * df['Quota']
    df['Extra mandate'] = df['Total Votes'] % df['Quota'] >= df['0.75-Quota']
    dff = df.drop(list(set(list(df.index)).difference(set(Elligible_Parties()))))
    dff['floor']=dff['Seats'] - dff['Seats'].apply(math.floor)
    dff['ceil'] = dff['Seats'].apply(math.ceil) - dff['Seats']
    dff['Requir']= dff['floor'].combine(dff['ceil'],min)
    dff.drop('floor',axis =1, inplace = True )
    dff.drop('ceil',axis =1, inplace = True )
    dff['Required Votes'] = dff['Requir'] * dff['Quota']
    dff.drop('Requir',axis =1, inplace = True )
    dff['Required Votes'] = dff['Required Votes'].apply(math.ceil)
    return dff


l=[]
for i in range(1,13):
    l.append(Party_Per_District_pd(i)['Required Votes'].min())
print("The mimimum number of vote modification for changing the results in district level is :",min(l))

The mimimum number of vote modification for changing the results in district level is : 16

<h1> <font color=#00539CFF>Here is the index of candidates choosen in compensation mandates and comparing it with official results </font> </h1>

In [35]:

def NationalPersonalParty():
    s = np.array([0]*12)
    for district in range(13):
        s = s + np.array(District_Personal_Mandate_Distributation_by_Party(district))
    return(s)


def District_National_By_Party(party):
    s = 0
    for i in range(1,13):
        s = s + len(Allocating_District_Mandate(party, i))
    return(s)


def TotalAlloctedForParty(party):
    return (NationalPersonalParty()[party]+District_National_By_Party(party))

def RemainedMandates():
    return (101 -(len(personal)+ len (distMandList)))

################
def Compensation_Elligible_Parties():
    CompensationElligibles=[]
    for i in range(12):
        vote = clean[clean['Party Number'] == i]['Total Votes'].sum()
        if vote >=ElectoralThreshold:
            CompensationElligibles.append(i)
    return CompensationElligibles

###############
remMandate= RemainedMandates()

def ComparativeFigure(party):
    totalParty = TotalAlloctedForParty(party)
    if party in Compensation_Elligible_Parties():
        vector=[truncate(i ** 0.9,4) for i in range(totalParty +1,totalParty + remMandate+1)]
        s = np.array(vector)
        partyvote = clean[clean['Party Number'] == party]['Total Votes'].sum()
        vector=list(zip(list(map(truncate,list(partyvote /s))),[party] * remMandate))
    else :
        vector = None 
    return vector

def NationalComparativeFigures():
    nationalList=[]
    for party in tqdm(Compensation_Elligible_Parties()):
        nationalList = nationalList + ComparativeFigure(party)
    return nationalList
        
    

def RankMapping(i): 
    if list(clean[clean['RegNum']==i]['Party Number'])[0] == 11:
        return 0
    else:
        return list(Rank[Rank['RegNum'] == i]['Rank'])[0]
    
clean['Rank'] = clean['RegNum']
clean['Rank'] = list(map(RankMapping,clean['RegNum']))    
    

    
CompFigure = pd.DataFrame(NationalComparativeFigures())
removeCompensation = personal + distMandList
final_index=list(set(clean.index).difference(set(removeCompensation)))
clean_new =  clean.iloc[final_index]
CompFigure_df = CompFigure.sort_values(by=0, ascending= False).head(remMandate)
CompensationSeatsPerParty = CompFigure_df[1].value_counts()


    
def CompensationIndexSet():
    result=[]
    for party in Compensation_Elligible_Parties():
        compensResult = clean_new[(clean_new['Party Number'] == party) & (clean_new['Total Votes']>= 0.05* clean_new['Quota'])].sort_values(by='Rank', ascending = True).head(CompensationSeatsPerParty[party])
        result = result + list(compensResult.index)
    return result

    
clean.iloc[CompensationIndexSet()] 
set(list(clean.iloc[CompensationIndexSet()]['RegNum'].values)) == set(compensElected)

/Users/ehsan.estaji/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/ehsan.estaji/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
100%|██████████| 5/5 [02:14<00:00, 26.96s/it]

True

In [39]:
CompFigure_df = CompFigure.sort_values(by=0, ascending= False)
CompFigure_df

            0   1
20  8491.0741   4
40  8219.8141   6
0   8091.8111   2
1   7840.2522   2
41  7783.3308   6
60  7710.9967   8
21  7637.1010   4
2   7604.6462   2
61  7421.2460   8
80  7420.1301  10
42  7393.0587   6
3   7383.4924   2
4   7175.5040   2
62  7153.5481   8
43  7041.9460   6
5   6979.5123   2
22  6946.1929   4
63  6905.4100   8
81  6861.2241  10
6   6794.4828   2
44  6724.2589   6
64  6674.8030   8
7   6619.5230   2
65  6459.8731   8
8   6453.8093   2
45  6435.3693   6
82  6384.3599  10
23  6375.1487   4
9   6296.6051   2
66  6259.0480   8
46  6171.5025   6
10  6147.2728   2
67  6070.9585   8
11  6005.2372   2
83  5972.4159  10
47  5929.4446   6
24  5894.9538   4
68  5894.4065   8
12  5869.9353   2
13  5740.9411   2
69  5728.3647   8
48  5706.6381   6
14  5617.7664   2
84  5612.8620  10
70  5571.9002   8
49  5500.7892   6
15  5500.0457   2
25  5485.2467   4
71  5424.1870   8
16  5387.4077   2
50  5309.9810   6
85  5296.1066  10
72  5284.5127   8
17  5279.5481   2
18  5176.1371   2
73  5152.2197   8
51  5132.6535   6
26  5131.3170   4
19  5076.9057   2
74  5026.7201   8
86  5014.8761  10
52  4967.3811   6
75  4907.5048   8
27  4822.3993   4
53  4812.9548   6
76  4794.1147   8
87  4763.4200  10
77  4686.1001   8
54  4668.3215   6
78  4583.1211   8
28  4550.2527   4
88  4537.1946  10
55  4532.5602   6
79  4484.7880   8
56  4404.8808   6
89  4332.5057  10
29  4308.6281   4
57  4284.5659   6
58  4170.9804   6
90  4146.3713  10
30  4092.5847   4
59  4063.5765   6
91  3976.3594  10
31  3898.2188   4
92  3820.3991  10
32  3722.3564   4
93  3676.8427  10
33  3562.4354   4
94  3544.2122  10
95  3421.2727  10
34  3416.3663   4
96  3307.0188  10
35  3282.3700   4
97  3200.5322  10
36  3159.0307   4
98  3101.0338  10
37  3045.0787   4
99  3007.8452  10
38  2939.4528   4
39  2841.2894   4